/*
Error: Invalid CSS after "            $": expected identifier, was "#{$var}-color: ..."
        on line 24 of scss/partials/_functions.scss
        from line 1 of scss/main.scss

19: 
20: }
21: @function setTheme ($theme) {
22:     @if $theme == Dark {
23:         @each $var, $color in $colors {
24:             $#{$var}-color: darken($color,60%); 
25:         }
26:     } @else if $theme == Light {
27:         @each $var, $color in $colors {
28:             $#{$var}-color: lighten($color,60%); 
29:         }

Backtrace:
scss/partials/_functions.scss:24
scss/main.scss:1
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:639:in `variable'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:319:in `each_directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:234:in `special_directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:209:in `directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:331:in `if_directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:234:in `special_directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:209:in `directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:695:in `block_child'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:272:in `function_directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:234:in `special_directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:209:in `directive'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/engine.rb:321:in `to_tree'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `each'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/home/nickel/.gem/ruby/2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:320:in `block in watch'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/home/nickel/.gem/ruby/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"            $\": expected identifier, was \"#{$var}-color: ...\"\A         on line 24 of scss/partials/_functions.scss\A         from line 1 of scss/main.scss\A \A 19: \A 20: }\A 21: @function setTheme ($theme) {\A 22:     @if $theme == Dark {\A 23:         @each $var, $color in $colors {\A 24:             $#{$var}-color: darken($color,60%); \A 25:         }\A 26:     } @else if $theme == Light {\A 27:         @each $var, $color in $colors {\A 28:             $#{$var}-color: lighten($color,60%); \A 29:         }"; }
