@import 'partials/normalize';
@import 'susy';
@import 'breakpoint';
@import "compass";
@import 'partials/var';

$susy: (
  columns: 5,
  gutter: 1/6,
  debug: (image: show),
  global-box-sizing: border-sizing
);

@include border-box-sizing;

html {
    height: 100%;
}

body {
    background-color:   $bgc;
    font: 100% $font;
    color: #fff;
   display: flex;
   flex-direction: column;
}

.container {
  @include breakpoint ($medium-screen)  {
   display: flex;
   flex-direction: row;
   //@include container();
  }
}
.sidebar-left {
//  height: 16rem;
  display: flex;
  background-color: $sdl;
  justify-content: center;
  //height: 80vh;
  @include breakpoint ($medium-screen)  {
      display: block;
     flex: 1;
      // @include span (1 of 5 first);
     width: span(2);
  }
}
.main {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   width: 100%;
}
article {
   flex-grow: 1;
    border: 1px solid #fff;
   @include breakpoint ($iphone) {
      font-size: 8vw;
   }  
   @include breakpoint ($medium-screen)  {
      width: span(5);
      @include column-count (2);
  }
    overflow: auto;
    padding: gutter();
    background-color: $cc;
}
.footer {
    padding: gutter()*2;
    flex-shrink: 0;
    background-color: lighten($bgc, 50);
    color: #000;
    //    clear: both;
}
.link {
}

ul {
    list-style-type: none;
    li  {
        border: 1px solid #fff;
        background-color: #987;
          &:hover {
             background-color: #111;
             color: #fff;
          }
        a { 
          color: #ccc;
          text-decoration: none;

          &:visited {
              color: #ccc;
              text-decoration: none;
          }
          &:hover  {
              color: $cc;
              text-decoration: none;
          }
        }
    }
}
