$font: Helvetica, sans-serif;
$bgc: #222;
$sdl: rgba(100,60,69,0.8);
$medium-screen: 720px;
$link-color: #330001;
$cc: #369;
$iphone: 375px 667px;
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px
